.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
    gap: 2vw;
    margin-top: 4vw;
    position: inherit;
    z-index: 10;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 4vw 10rem;
}


.gridProduct{
  will-change: transform;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    
}

.card {
  padding: 2rem;
    z-index: 20;
    position: relative;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    color: black;
    will-change: transform;
}

.card:hover{
  box-shadow: rgba(0, 16, 60, 0.03) 3px 3px 18px 0px;
    background-color: white !important;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(4.53deg) rotateY(2.45deg) scale3d(1, 1, 1);
    > .cardImage{
      filter: grayscale(0%);
    }
}

.cardImage{
  width: 30%;
  height: auto;
  filter: grayscale(100%);
}

.creditCard{
  background-color: #edffec;
}


.banner {
  margin: 6rem 12rem;
    display: flex;
  background-color: rgb(233, 244, 255);
  border-radius: 4px;
  align-items: flex-start;
}

.bannerLeft{
  padding: 4vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.bannerLeft h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px
}

.bannerLeft h1 span{
  color: rgb(38, 78, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.bannerLeft p{
  font-size: 20px;
    margin-bottom: 16px;
}

.playstoreLogo {
  color: transparent;
  padding: 0.5rem 1rem;
  border: 0px solid rgb(209, 217, 233);
  border-radius: 8px;
  width: 150px;
  height: auto;
}

.bannerRight{
  margin-top: -3rem;
  width: 44vw;
  margin-right: 30px;
}

.topBrand{
  width: auto;
  padding: 0.5rem 12rem;
  -webkit-box-align: center;
  align-items: center;
}

.decoSide{
position: absolute;
    top: 2%;
    left: 0px;
    z-index: 0;
}
.decoSideDown{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.topBrandsText{
  display: flex;
    flex-direction: column;
    margin: 48px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.products{background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
  padding-top: 2vw;
  padding-bottom: 8vw;
  position: relative;}

.cardText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
}

.diagonalBg{
  background-color: rgb(20, 92, 197);
  padding: 10vw;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}

.diagonalInner{
  clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
  background-color: rgb(65, 127, 218);
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 7vw;
  padding-bottom: 3vw;
}

.diagonalText{
  padding: 4vw;
  min-width: 0px;
  margin-left: -10vw;
  color: white;
}
.diagonalImage{
  width: auto;
  height: 27vw;
  mix-blend-mode: luminosity;
}

.chooseUs{
  padding-top: 4vw;
  margin: 0rem 9.5rem;
  display: flex;
  flex-direction: row;
}
.chooseUsImage{
  height: 100%;
  margin-top: 3vw;
  position: relative;
  z-index: 2;
}

.chooseLeft{
  display: flex;
    align-items: center;
    justify-content: center;
}

.chooseStripe{
  height: 75%;
  width: 15%;
  position: absolute;
  z-index: 1;
}

.chooseText{
  display: flex;
  flex-direction: column;
  margin: 162px 0px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
}

.chooseText span{
  color: #145CC5;
    font-size: 24px;
    font-weight: bold;
}
.chooseUsHero{
  height: 100%;
    margin-top: 3vw;
    position: relative;
    z-index: 2;
}

.chooseRight{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 2vw 4vw;
    width: 100%;

}
.chooseCard{
  padding: 20px 30px;
}

.chooseUsCard{
  width: 6vw;
}

.startEarning{
  padding-top: 15vw;
  padding-bottom: 20vw;
  position: relative;
  clip-path: polygon(0% 27%, 100% 0%, 100% 73%, 0% 100%);
  background: rgb(10, 37, 64);
}

.earning{
  display: flex;
}

.earningText{
  display: flex;
    flex-direction: column;
    margin: 48px 0px;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 5vw;
}

.earningStep{
  font-size: 18px;
    padding: 12px 26px 12px 18px;
    background-color: rgb(83, 139, 255);
    font-weight: 600;
    border-radius: 2px;
    width: fit-content;
    color: white;
    margin-bottom: 2vw;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}